.titre{
	-fx-text-alignment : center ;
	-fx-alignment : center;
	-fx-font: 20.0px 'Georgia';
	-fx-background-color: #4FC3F7;
	-fx-padding: 10.0
}
.main-label{
	-fx-font: 15.0px 'Georgia';
	-fx-background-color: #40B0C0;
	-fx-padding: 10.0
}
.main-text-field{
	-fx-font: 15.0px 'Georgia';
	-fx-background-color: lightgrey;
	-fx-padding: 10.0
}

.button{
	-fx-padding: 5.0px;
}

.b-in-hbox{
	-fx-padding:5;
	-fx-background-color: bisque;
}


.text-field:error{
	-fx-background-color: orange;
	-fx-border-color: red;
}

.combo-box:error{
	-fx-background-color: orange;
	-fx-border-color: red;
}